<%= form_for(@friendslist) do |f| %>
  <% if @friendslist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friendslist.errors.count, "error") %> prohibited this friendslist from being saved:</h2>

      <ul>
      <% @friendslist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :include %><br />
    <%= f.check_box :include %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
