<h1>Listing friendslists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Include</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @friendslists.each do |friendslist| %>
  <tr>
    <td><%= friendslist.name %></td>
    <td><%= friendslist.include %></td>
    <td><%= link_to 'Show', friendslist %></td>
    <td><%= link_to 'Edit', edit_friendslist_path(friendslist) %></td>
    <td><%= link_to 'Destroy', friendslist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Friendslist', new_friendslist_path %>
