<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @friendslist.name %>
</p>

<p>
  <b>Include:</b>
  <%= @friendslist.include %>
</p>


<%= link_to 'Edit', edit_friendslist_path(@friendslist) %> |
<%= link_to 'Back', friendslists_path %>
