<h1>Listing userfriends</h1>

<table>
  <tr>
    <th>Emailaddress</th>
    <th>Note</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userfriends.each do |userfriend| %>
  <tr>
    <td><%= userfriend.emailaddress %></td>
    <td><%= userfriend.note %></td>
    <td><%= userfriend.User %></td>
    <td><%= link_to 'Show', userfriend %></td>
    <td><%= link_to 'Edit', edit_userfriend_path(userfriend) %></td>
    <td><%= link_to 'Destroy', userfriend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userfriend', new_userfriend_path %>
