<h1>Listing itemservices</h1>

<table>
  <tr>
    <th>Siteurl</th>
    <th>Itemdescription</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Begindate</th>
    <th>Enddate</th>
    <th>Friendslistid</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @itemservices.each do |itemservice| %>
  <tr>
    <td><%= itemservice.siteurl %></td>
    <td><%= itemservice.itemdescription %></td>
    <td><%= itemservice.quantity %></td>
    <td><%= itemservice.amount %></td>
    <td><%= itemservice.begindate %></td>
    <td><%= itemservice.enddate %></td>
    <td><%= itemservice.friendslistid %></td>
    <td><%= itemservice.User %></td>
    <td><%= link_to 'Show', itemservice %></td>
    <td><%= link_to 'Edit', edit_itemservice_path(itemservice) %></td>
    <td><%= link_to 'Destroy', itemservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itemservice', new_itemservice_path %>
