<h1>Listing itemservices</h1>

<table>
  <tr>
    <th>Siteurl</th>
    <th>Itemdescription</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>User</th>
  </tr>

<% @itemservices.each do |itemservice| %>
  <tr>
    <td><%= itemservice.siteurl %></td>
    <td><%= itemservice.itemdescription %></td>
    <td><%= itemservice.quantity %></td>
    <td><%= itemservice.amount %></td>
    <td><%= itemservice.User %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Itemservice', new_itemservice_path %>
